@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {margin:0;padding:0;}
a {text-decoration: none; color: #2C5364;}
li {list-style-type: none;}

/*background*/
/* html {
    max-width: 1920px;
    max-height: 1080px;
} */
body {
    /* overflow: hidden;
    background-repeat: no-repeat; */
    width: 100%;
    height: 100vh;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

/*back to main*/
.main-btn {
    font-size: 300%;
    font-weight: 600;
    border-radius: 100%;
    color: #2C5364;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% 0 0 5%;
    z-index: 10;
}
.main-btn:hover {
    transition: all 0.5s;
}
.main-txt:hover {
    color: #fff;
    transition: all 0.5s;
}

/*navigation*/
nav {
    /* overflow: hidden; */
    position: absolute;
    transform: translateX(0px);
    height: 100vh;
    width: 100vw;
    /*cubic-bezier을 활용하여 속도에 효과를 줌*/
    transition: all 300ms cubic-bezier(.8, 0, .33, 1);
    float: right;
    right: 0;
    z-index: 999;
    pointer-events: none;
}

nav.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
    background: rgba(0, 0, 0, 1);
    /*pointer-events를 활용하여 앞서 비활성화했던 것을 다시 살림*/
    pointer-events: auto;
}

nav .menu-btn {
    position: absolute ;
    right: 5%;
    padding: 0;
    width: 90px;
    height: 90px;
    z-index: 2;
    top: 5%;
    pointer-events: auto !important;
    cursor: pointer;
}

nav .menu-btn .line {
    vertical-align: middle;
    padding: 0;
    width: 70px;
    background: #2C5364;
    height: 3px;
    margin-bottom: 5px;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
    width: 50px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    width: 40px;
    transform: rotate(45deg) translateY(10px);
    background: rgba(255,255,255,0.8);
}

nav .menu-btn .line.line--2 {
    width: 40px;
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    width: 40px;
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    width: 40px;
    transform: rotate(-45deg) translateY(-11px);
    background: rgba(255,255,255,0.8);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-weight: 600;
    font-size: 500%;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
    float: none;
    text-align: center;
    width: 70%;
}

nav .nav-links .link:hover {
    color: #2C5364;
    transition: all 0.2s;
    letter-spacing: 20px;
}

nav .nav-links .sns {
    margin: 20px 0;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 15px;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
    float: left;
    width: 70%;
    height: 30px;
}

nav .nav-links .sns:hover {
    color: #2C5364;
    text-decoration: underline;
    text-decoration-color: #2C5364;
    text-decoration-style: solid;
    transition: all 0.5s;
}

